<!-- <%= form_with(model: Contact.new) do |form| %>
  <div class="content_title">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="content_title">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="content_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %> -->



<!--このコード試してみる  -->
<%= form_with(model: @contact, local: true) do |form| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= @contact.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="contact_title">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="contact_title">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="contact_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>

<!-- 下記の戻り先blogs（index）からここにしてみた -->
<%= link_to "ブログ一覧画面にもどる", new_contact_path %>


<!-- paramsはparameterの中身。parameterはたくさん情報があり、（ターミナルで確認すると
utf8とか他の情報も入ってるので、それらのcontactだけを選んで(require)、その中のcontact
テーブルのname,email,contentだけを限定して引っ張ってくる） -->
